h1.title {
  position: relative;
  padding-bottom: 0.6rem;
  margin-bottom: 1.2rem;
}

h1.title::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 0.4rem;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

